<?xml version="1.0"?>
<ruleset name="DMC Web Coding Standards">

<description>DMC Web Coding Standards</description>

	<!-- Include directories to process -->
	<file>.</file>

	<!-- Path to strip from the front of file paths inside reports (displays shorter paths) -->
	<arg name="basepath" value="." />

	<!-- Set a minimum PHP version for PHPCompatibility -->
	<config name="testVersion" value="8.1-" />

	<!-- Use DMC Coding Standards -->
    <rule ref="./coding-standards/ruleset.xml">
        <!-- Custom exclusions go here. -->
    </rule>

</ruleset>
